body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #21232e;
  max-width: 1366px;
  margin: auto; }
  body header {
    background-image: url(../img/m-h-night.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    border: 1px solid transparent;
    border-radius: 0 0 400px/200px 0; }

.header-wrap, footer .footer-wrap {
  width: 80%;
  margin: auto;
  margin-top: 30px; }
  .header-wrap .landing-logo, footer .footer-wrap .landing-logo {
    display: flex;
    font-family: "Fresca", sans-serif; }
    .header-wrap .landing-logo img, footer .footer-wrap .landing-logo img {
      height: 40px;
      width: 40px; }
    .header-wrap .landing-logo p, footer .footer-wrap .landing-logo p {
      display: flex;
      flex-flow: column wrap;
      font-weight: bold;
      font-size: 25px;
      margin: 0 0 0 15px;
      color: #ffffff; }
      .header-wrap .landing-logo p span, footer .footer-wrap .landing-logo p span {
        font-size: 10px;
        font-weight: normal;
        margin: auto; }
  .header-wrap .header_heading, footer .footer-wrap .header_heading {
    position: relative;
    font-size: 40px;
    width: 30%;
    font-weight: bold;
    color: #ffffff;
    z-index: 0; }
    .header-wrap .header_heading::after, footer .footer-wrap .header_heading::after {
      display: block;
      position: absolute;
      left: 0;
      bottom: 3px;
      content: '';
      background: #ff4e33;
      width: 170px;
      height: 15px;
      z-index: -1; }
  .header-wrap .header_button, footer .footer-wrap .header_button {
    padding: 10px 30px;
    background-color: #e3ac00;
    color: white;
    border: none;
    font-weight: bold; }
  .header-wrap .header_text, footer .footer-wrap .header_text {
    width: 50%;
    color: #ffffff;
    font-family: "Fresca", sans-serif; }

main .section_text {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  z-index: 0; }
  main .section_text::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 3px;
    content: '';
    background: #ff4e33;
    width: 140px;
    height: 15px;
    z-index: -1;
    left: 680px; }
main .section_card_wrap {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: space-around; }
  main .section_card_wrap div:nth-child(2) {
    margin-left: -220px;
    margin-right: -220px; }
  main .section_card_wrap .section_card {
    display: flex;
    flex-flow: column wrap;
    width: 25%;
    background-color: #3b3f50;
    border: 10px solid #3b3f50; }
    main .section_card_wrap .section_card .section_card_heading {
      color: white;
      font-size: 20px;
      z-index: 5;
      position: relative;
      z-index: 0;
      width: fit-content;
      margin: auto;
      font-weight: 600; }
      main .section_card_wrap .section_card .section_card_heading::after {
        display: block;
        position: absolute;
        left: 0;
        bottom: 3px;
        content: '';
        background: #ff4e33;
        width: 100%;
        height: 15px;
        z-index: -1;
        top: 15px; }
    main .section_card_wrap .section_card .section_card_text {
      color: #b5bfc6;
      font-family: "Fresca", sans-serif; }
main .section_banner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 700px;
  margin: 50px auto;
  position: relative;
  top: 110px;
  background: linear-gradient(45deg, #dda305, #942f50);
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px; }
  main .section_banner .section_banner_heading {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0;
    z-index: 5;
    position: relative;
    z-index: 0;
    width: fit-content; }
    main .section_banner .section_banner_heading::after {
      display: block;
      position: absolute;
      left: 0;
      bottom: 3px;
      content: '';
      background: #ff4e33;
      width: 15%;
      height: 15px;
      z-index: -1;
      top: 20px;
      left: 123px; }
  main .section_banner .section_banner_text {
    color: #b5bfc6;
    font-family: "Fresca", sans-serif; }
  main .section_banner .section_banner_button {
    padding: 10px 30px;
    background-color: #e3ac00;
    color: white;
    border: none;
    font-weight: bold; }

footer {
  font-family: "Fresca", sans-serif; }
  footer .footer-wrap {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background: #3b3f50;
    height: 120px;
    padding-top: 80px;
    justify-content: space-around;
    align-items: center;
    color: #b9b2af; }
    footer .footer-wrap .landing-logo {
      display: flex;
      font-family: "Fresca", sans-serif; }
      footer .footer-wrap .landing-logo img {
        height: 40px;
        width: 40px; }
      footer .footer-wrap .landing-logo p {
        display: flex;
        flex-flow: column wrap;
        font-weight: bold;
        font-size: 25px;
        margin: 0 0 0 15px;
        color: #ffffff; }
        footer .footer-wrap .landing-logo p span {
          font-size: 10px;
          font-weight: normal;
          margin: auto; }
    footer .footer-wrap div,
    footer .footer-wrap p,
    footer .footer-wrap span {
      height: fit-content; }
    footer .footer-wrap .footer_text {
      width: 25%; }
