$fontVariant1: 'Source Sans Pro', sans-serif;
$fontVariant2: 'Hind', sans-serif;
$buttonColor: #699900;
$textColor: #2c2f3c;
$bodyBG: #ffffff;
$cardSectionColor: #21232e;
$cardSectionTextColor: #b5bfc6;
$underlineColor: #14a0c7;
$mapping:(
    headerBG: url(../img/m-h-day.jpg),
    lanierBg: linear-gradient(50deg, #689801, #2b59dd)
);
$footerColorText: #b9b2af;