$fontVariant1: 'Source Sans Pro', sans-serif;
$fontVariant2: 'Fresca', sans-serif;
$buttonColor: #e3ac00;
$textColor: #ffffff;
$bodyBG: #21232e;
$cardSectionColor: #3b3f50;
$cardSectionTextColor: #b5bfc6;
$mapping:(
    headerBG: url(../img/m-h-night.jpg),
    lanierBg: linear-gradient(45deg, #dda305, #942f50)
);
$underlineColor: #ff4e33;
$footerColorText: #b9b2af;